<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ratione.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>

      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
        repellendus? Ratione illo sapiente quisquam unde.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <!-- <source type="image/webp" srcset="images/" /> -->
      <img src="./images/easy.jpg" alt="" class="feature__img" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>

      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
        repellendus? Ratione illo sapiente quisquam unde.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <!-- <source type="image/webp" srcset="images/" /> -->
      <img src="./images/easy.jpg" alt="" class="feature__img" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>

      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
        repellendus? Ratione illo sapiente quisquam unde.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <!-- <source type="image/webp" srcset="images/" /> -->
      <img src="./images/easy.jpg" alt="" class="feature__img" />
    </picture>
  </article>
</section>
